
--link-folder "/Users/Remi/Library/Application Support/Framer X/yarn-link-folder"
disable-self-update-check true
yarn-path "/Users/Remi/Applications/Framer X.app/Contents/Resources/Server/lib/framerYarn.js"
